= react_component('DataDigestColumnsConfigForm', { \ 
    name: "data_digest_template[columns_config]", \
    columnsConfig: (data_digest_template.columns_config.presence || data_digest_template.class::DEFAULT_COLUMN_CONFIG) \
  }) 
