- if presumed
  = f.static_control :presumed_used_units, 1, skip_label: true, wrapper_class: 'm-0 me-4', class: 'text-end'
- else
  = f.static_control :used_units, 1, skip_label: true, wrapper_class: 'm-0 me-4', class: 'text-end'
