= f.file_field :signed_pdf, label: Contract.human_attribute_name(:signed_pdf)

= f.button name: :commit, class: 'btn btn-primary'
	= @booking_action.label
= link_to t(:back), manage_booking_path(@booking_action.booking), class: 'btn btn-outline-primary ms-2'
