= render partial: 'bookings/show/booking', locals: { booking: @booking }

= render partial: 'bookings/show/contracts', locals: { booking: @booking }

section
  = link_to t('back'), bookings_path, class: 'btn btn-default'
