= render layout: 'manage/tarifs/usage_form', locals: { usage:, f: }
  .form-check.py-2.text-end
    = f.check_box :used_units, { skip_label: true, wrapper: { style: 'margin-bottom: 0 !important' } }, '1', '0'
