@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './fonts';

img {
    @extend .img-fluid;
    margin: 0 auto;
}

.app-container {
    display: grid;
    grid-template-areas: "navigation main" "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    padding-top: 56px;

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
    }

    &.development {
        #navbar-top {
            background-color: #00c895;
        }

        &>footer {
            background-color: #c8fcea;
        }
    }

    &>main {
        grid-area: main;
        flex-grow: 1;
    }

    &>header {
        grid-area: header;
    }

    #navbar-top {
        // box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
        // background-color: rgba(248,249,250,0.9);
        background-color: #7575d1;
        border-bottom: 1px solid lightgray;

        a {
            font-family: $headings-font-family;
            color: white;
        }

        .dropdown-menu a {
            color: $primary;
        }
    }

    &>nav {
        grid-area: navigation;
        background-color: white;
        min-width: 250px;

        .position-fixed {
            min-width: 250px;
        }
    }

    &>footer {
        grid-area: footer;
        background-color: #b3aee4;
    }
}

.alert {
    border-radius: 0;
}

label.required:after, legend.required:after {
  content:" *";
  color:red;
}

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.btn-group form {
  display: inline;
}

.btn-link {
    padding: 0;
    border: none;
}

select[disabled='disabled'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #495057;
}

.table-card {
    thead th {
        border-top: none;
    }
    tbody {
        background-color: $card-bg;
        background-clip: border-box;
        border: $card-border-width solid $card-border-color;
        @include border-radius($card-border-radius);
        @include box-shadow($box-shadow);
    }
}

// [data-href] {
//     cursor: pointer;
// }

.card>.table {
    margin: 0;
}

section {
    margin-top: 20px;
}

.breakout-sm {
    @include media-breakpoint-down(sm) {
        margin-left: -($grid-gutter-width / 2 + 1);
        margin-right: -($grid-gutter-width / 2 + 1);
        border-radius: 0;
        border-left-width: 0;
        border-right-width: 0;
    }
}

.etched {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.1;
}

th.spacer {
    background-color: $body-bg;
}

tr.disabled {
    td, a {
        color: #bbb;
    }
}

.fa-li {
    top: 0.3em;
}

.ellipsis {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.w-md {
    max-width: 768px;
}

.presumed-usage {
    background-color: #fff9e8;
}