@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "./fonts";
@import "./calendar";
@import "tinymce/skins/ui/oxide/skin.css";

img {
  @extend .img-fluid;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

label {
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.app-container {
  display: grid;
  grid-template-areas: "navigation main" "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding-top: 55px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' fill='none'%3E%3Cpath fill='%237575d122' d='M712 59c409 23 487-59 487-59H0v119c64-94 303-84 712-60z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: auto 45vh;

  background-attachment: fixed;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }

  &.development {
    #navbar-top {
      background-color: #00c895;
    }
  }

  & > main {
    grid-area: main;
    flex-grow: 1;
  }

  & > header {
    grid-area: header;
  }

  #navbar-top {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    background-color: #7575d1;
    // border-bottom: 1px solid lightgray;

    a {
      font-family: $headings-font-family;
      color: white;
    }

    .dropdown-menu a {
      color: $primary;
    }
  }

  & > nav {
    grid-area: navigation;
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 250px;
  }

  & > footer {
    grid-area: footer;
    background-color: #ddd9f6;
    border-top: 1px solid $primary;
    color: $primary;
  }
}

.alert {
  border-radius: 0;
}

.badge-small {
  font-size: 50%;
  vertical-align: middle;
}

label.required:after,
legend.required:after {
  content: " *";
  color: red;
}

.field_with_errors ~ .invalid-feedback {
  display: block;
}

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.btn-group form {
  display: inline;
}

.btn-link {
  padding: 0;
  border: none;
}

select[disabled="disabled"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #495057;
}

.table {
  > :not(:first-child) {
    border-top: none;
  }
  tbody {
    background-color: $card-bg;
    background-clip: border-box;
    border: $card-border-width solid $card-border-color;
  }

  .form-check {
    margin-bottom: 0;

    label {
      margin-bottom: 0;
    }
  }
}

.card > .table {
  margin: 0;
}

th.spacer {
  background-color: $body-bg;
}

tr.disabled {
  td,
  a {
    color: #bbb;
  }
}

.fa-li {
  top: 0.3em;
}

.ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.w-md {
  max-width: 768px;
}

.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.presumed-usage {
  background-color: #fff9e8;
}

.position-fixed-lg {
  @include media-breakpoint-up(md) {
    position: fixed;
  }
}

.rich-text-area {
  opacity: 0.1;
  height: 500px;
}

.booking-nav {
  justify-content: flex-start;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  .nav-tabs {
    border-bottom: none;
    overflow-y: hidden;
    overflow-x: auto;

    .nav-link {
      color: white;
      margin-right: 0.5rem;

      &:hover {
        border-color: transparent;
        // background-color: rgba(255, 255, 255, 0.5);
      }

      &.active {
        color: $primary;
        font-weight: bold;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
