@import '~bootstrap/scss/functions';
$enable-shadows: true;
// Template: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
$primary: #333399;
$body-bg: #f8f9fa;
$breadcrumb-bg: none;
$box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
$font-size-base: 0.85rem;
$headings-font-family: 'Patua One', cursive;
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/_variables';
