# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: First User
  admin_email: user@example.com
  admin_password: changeme
  app_host: 'heimverwaltung.dev:5000'
  secret_key_base: 0ef13dc602c2b1768b58a1585a7504ec36e1f323eea491fd8f811f1af733e170d7bc3cb0067f41ce90eaff0abde036d5a34f6499e1e9acabbbe48dc3be924c17

test:
  app_host: 'heimverwaltung.test'
  secret_key_base: 402962256a9c9d317c8b8265fb7d1bc0fbe4b40ad4bb99083f8f9304479a4a5f4893c136bb7545a93c744078ba0eb34570ec123c8d4f5c50ea2ef1b2cf451f6e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  app_host: <%= ENV["APP_HOST"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
