= render layout: 'manage/tarifs/usage_form', locals: { usage:, f:, unit: Tarif.human_attribute_name(usage.critical_minimum) }
  - usage.valid? # trigger #before_validate
  .d-flex.gap-3.justify-content-end
    - case usage.critical_minimum
    - when :minimum_usage_per_night
      div
        | (

      div
        = number_with_delimiter(usage.tarif.minimum_usage_per_night * usage.booking.nights)
      
      div
        | -

      div
        = number_with_delimiter(usage.tarif_group_used_units)

      div
        | )

      div
        | ×
        
      div
        = number_to_currency(usage.price_per_unit, unit: '')
        small.d-block.text-muted= @booking.organisation.currency

    - when :minimum_usage_total
      div
        | (

      div
        = number_with_delimiter(usage.tarif.minimum_usage_total)

      div
        | -

      div
        = number_with_delimiter(usage.tarif_group_used_units)

      div
        | )

      div
        | ×
        
      div
        = number_to_currency(usage.price_per_unit, unit: '')
        small.d-block.text-muted= @booking.organisation.currency

    - when :minimum_price_per_night
      div
        = number_to_currency(usage.tarif.minimum_price_per_night * usage.booking.nights)

      div
        | -

      div
        = number_to_currency(usage.tarif_group_price)

      div
        | =

    - when :minimum_price_total
      - if usage.tarif.minimum_price_total.zero?
        | –

      - else
        div
          = number_to_currency(usage.tarif.minimum_price_total)

        div
          | -

        div
          = number_to_currency(usage.tarif_group_price)

        div
          | =

    - else
      | –

