- @booking_action.translate(:description)&.lines.each do |line|
	p= line

= f.file_field :signed_pdf, label: Contract.human_attribute_name(:signed_pdf), help: t(:optional)

= f.check_box :confirm_authorization, label: @booking_action.translate(:confirm_authorization_label), required: true

= f.button name: :commit, class: 'btn btn-primary'
	= @booking_action.label
= link_to t(:back), manage_booking_path(@booking_action.booking), class: 'btn btn-outline-primary ms-2'
