= form.check_box question.form_input_name, label: question.label, \ 
                                           checked: question.value_for(booking), \
                                           required: question.required 
.text-muted= question.description
