@import 'variables';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import 'font-awesome';
@import 'datetimepicker';

img {
  @extend .img-fluid;
  margin: 0 auto;
}

body {
  margin-top: 56px; // accommodate the navbar
}

.alert {
  border-radius: 0;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

.navbar-main {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  font-size: inherit;
  background-color: $brand-primary;
}

.table-card {
  tbody {
    background-color: $card-bg;
    background-clip: border-box;
    border: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);
  }
}

[data-href] {
  cursor: pointer;
}

.card > .table {
  margin: 0;
}

.breadcrumb {
  padding-left: 0;
}

main {
  @extend .container;
}

section {
  // @extend .row;
  margin-top: 20px;
}

.breakout-sm {
  @include media-breakpoint-down(sm) {
    margin-left: -($grid-gutter-width-base / 2 + 1);
    margin-right: -($grid-gutter-width-base / 2 + 1);
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}
