@import 'variables';
@import 'bootstrap';
@import 'devise';

img {
  @extend .img-fluid;
  margin: 0 auto;
}
.navbar-main {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  font-size: inherit;
  background-color: $brand-primary;
}

main {
  @extend .container;
  margin-top: 80px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}
