= react_component('BookingConditionContainer', { \ 
  value: defined?(:value) && Manage::BookingConditionSerializer.render_as_hash(value || [], view: :with_errors), \
  name: defined?(:name) && name, \
  disabled: false, \
  optionsForSelect: BookingCondition.subtypes.transform_values { it.options_for_select(current_organisation) } \
}) 
