= react_component('booking_conditions/BookingConditionForm', { \ 
  value: [], \
  name: "xxx", \
  disabled: false, \
  optionsForSelect: BookingCondition.options_for_select(current_organisation) \
}) 
