= react_component('booking_conditions/BookingConditionForm', { \ 
  value: defined?(:value) && Manage::BookingConditionSerializer.render_as_hash(value || [], view: :with_errors), \
  name: defined?(:name) && name, \
  disabled: false, \
  optionsForSelect: BookingCondition.options_for_select(current_organisation) \
}) 
