.calendarMain {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  font-size: 1rem;
}

.calendarNav {
  display: flex;
  font-size: 2em;
  header,
  footer {
    flex: 2 1;
    text-align: center;
  }
  button {
    display: block;
    flex: 1 1;
    text-align: center;
    background: transparent;
    border: none;
  }
}

.calendarDay {
  display: block;
  height: 100%;
}

.calendarMonths {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 15em));
  grid-template-rows: 17em;
  grid-gap: 1em;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.calendarMonth {
  header {
    font-weight: bold;
    text-align: center;
    padding: 0.25em 0;
  }
  .calendarWeekday {
    font-weight: bold;
    text-align: center;
    padding: 0.25em;
    font-size: 0.65em;
  }
  .calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 2em);
    grid-template-rows: repeat(7, 2em);
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    grid-gap: 0.15em;

    button {
      text-align: center;
    }
  }
}
