
= form.text_field :value, label: question.label, \ 
                          help: question.description, \ 
                          value: response.value, \
                          required: question.required
