
= form.text_area :value, label: question.label, \ 
                         help: question.description, \ 
                         value: response.value, \
                         disabled: disabled, \
                         required: question.required(booking)
