= render partial: 'manage/bookings/navigation', locals: { booking: @booking }

= render partial: @booking_action.to_partial_path('prepare'), locals: { invoke_path: manage_booking_invoke_action_path(@booking), back_path: manage_booking_path(@booking) }
